<%= form_for profile do |form| %>

  <div class="field form-group">
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="field form-group">
    <%= form.text_field :address, class: "form-control", placeholder: "Address" %>
  </div>
  <div class="field form-group">
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone" %>
  </div>

    <div class="actions">
    <%= form.submit class: "btn btn-secondary"%>
    </div><br/>
<% end %>
